<div class="row">
  <div class="col-9">
    <%= render 'layouts/messages' %>
  </div>
</div>

<% if @stock %>
  <div class="row">
    <div class="card mb-3 col-sm-9 p-0">
      <div class="card-header flex">
        <strong>Symbol: </strong> <%= @stock.ticker %>
        <strong>Name: </strong> <%= @stock.name %>
        <strong>Price: </strong> <%= @stock.last_price %>
        <%= link_to 'Add to portfolio', user_stocks_path(user: current_user, ticker: @stock.ticker), class: 'btn btn-success text-decoration-none', method: :post %>
      </div>
    </div>
  </div>
<% end %>
